.skip-link {
    position: absolute;
    top: -4.5rem;
    left: 0;
    background: #000;
    color: #fff;
    padding: 1.5rem 1.5rem;
    text-transform: uppercase;
    z-index: 1000;
    transition: top 0.2s ease;
}

.skip-link:focus-visible {
    top: 0;
    border: 1.5rem;
}