/* override picocss */
/* main.container {
    max-width: 1000px;
}

.header-wrap {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.header-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.header-wrap nav {
    margin-top: 1rem;
}

.header-image {
    text-align: center;
    margin-bottom: 1rem;
}

/* .header-image img {
    max-width: 100%;
    height: auto;
    display: inline-block;
} */

/*footer nav {
    display: flex;
    justify-content: center;
} */